<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
           <a href="{% url 'admin:index' %}"><i class="fa-solid fa-user-tie" id='font1'></i></a>
           <a href="{% url 'list' %}"><i class="fa-solid fa-users" id='font2'></i></a>
        </nav>
    </header>
    
    <main>

        <h1>Tableau de gestion des élèves</h1>

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>